@charset "UFT-8";

body{
    background-color:greenyellow;
}
h1{
    color: burlywood;
    text-align: left;
    size: 20px;
}
h2{
    color: royalblue;
    text-align: left;
    size: 15px;
}
p{
    color: black;
    size: 10px;
    text-align: justify;
    text-indent: 4px;
}
#primeiro{
    color: crimson;
    background-color: chocolate;
}
#segundo{
    color:darkcyan;
    background-color: cornflowerblue;
}
#terceiro{
    color: cyan;
    background-color: darkblue;
}
#quarto{
    color:fuchsia;
    background-color: darkmagenta;
}